.spark {
    position:absolute;
    width:6px;
    height:20px;
    background:#fef1d9;
    border-radius:18px;
    z-index:50;
    transform-origin:bottom center;
    transform:scaleY(0);
    
}

.spark:nth-child(1){
    left:160px;
    bottom:212px;
    animation: spark 1s  0.4 linear infinite;
    
}
.spark:nth-child(2){
    left:180px;
    bottom:240px;
    animation: spark 1s 1s linear infinite ;
    
}
.spark:nth-child(3){
    left:208px;
    bottom:320px;
    animation:spark 1s 0.8s linear infinite;
    
}
.spark:nth-child(4){
    left:310px;
    bottom:400px;
    animation:spark 1s 2s linear infinite;
    
}
.spark:nth-child(5){
    left:360px;
    bottom:380px;
    animation:spark 1s 0.75s linear infinite    ;
}
.spark:nth-child(6){
    left:390px;
    bottom:320px;
    animation:spark 1s 0.65s linear infinite;
    
}
.spark:nth-child(7){
    left:400px;
    bottom:280px;
    animation:spark 1s 1.1s linear infinite;
}
.spark:nth-child(8){
    left:430px;
    bottom:210px;
    animation:spark 1s 1,4s linear infinite;
    
}