
/*posicionamento do fogo laranfgja */

.fire__orange .flame{
        width:48px;
        border-radius:48px;
        background:#ff9c00;
        box-shadow: 0 0 80px 18px rgba(255,156,0,0.4)
}
 .fire__orange .flame:nth-child(1){
    left:130px;
    height:90px;
    bottom:100px;
    transform:rotate(-28deg) ;
    animation:fire 2s 0.05s ease-in-out infinite alternate;
    
}
 .fire__orange .flame:nth-child(2){
    left:160px;
    height:160px;
    bottom:100px;
    animation:fire 2s 0.1s ease-in-out infinite alternate;
    
}
 .fire__orange .flame:nth-child(3){
    left:219px;
    height:260px;
    bottom:100px;
    animation:fire 2s 0.35s ease-in-out infinite alternate;
   
}
 .fire__orange .flame:nth-child(4){
    left:280px;
    height:340px;
    bottom:100px;
    animation:fire 2s 0.4s ease-in-out infinite alternate;
    }
 .fire__orange .flame:nth-child(5){
    left:340px;
    height:260px;
    bottom:100px;
    animation:fire 2s 0.5s ease-in-out infinite alternate;
    }
 .fire__orange .flame:nth-child(6){
    left:400px;
    height:160px;
    bottom:100px;
    animation:fire 2s 0.35s ease-in-out infinite alternate;
    
}
 .fire__orange .flame:nth-child(7){
    left:423px;
    height:110px;
    bottom:100px;
    transform:rotate(30deg)      ;
    animation:fire 2s 0.1s ease-in-out infinite alternate;
    
}

