.fireplace{
    width:320px;
    height:320px;
    position:relative;
    display:flex;
    justify-content: center;
    align-items:flex-start;
    

}
.fireplace_flame,.fireplace_flame_big{
    height:250px;
    width:180px;
    background:firebrick;
position:relative;
margin-top:-15px;
z-index:3;
opacity:0.7;
}